## Preprocessing

In [1]:
# pip install tensorflow

In [17]:
# Import our dependencies

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=["EIN","NAME"])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [19]:
# Determine the number of unique values in each column.
# variable to hold the count
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [20]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count=application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [22]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
classification_count=application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# classification_to_replace = (classification_count[(classification_count<1) & (classification_count<100)])
# classification_to_replace

In [25]:
# class_count=application_df['CLASSIFICATION'].value_counts()
# class_count

In [26]:
classification_to_replace = classification_count[classification_count>1]
classification_to_replace

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_to_replace = classification_to_replace[classification_to_replace<100]
classification_to_replace

C2800    95
C7100    75
C1300    58
C1280    50
C1230    36
C1400    34
C7200    32
C2300    32
C1240    30
C8000    20
C7120    18
C1500    16
C1800    15
C6000    15
C1250    14
C8200    11
C1238    10
C1278    10
C1235     9
C1237     9
C7210     7
C2400     6
C1720     6
C4100     6
C1257     5
C1600     5
C1260     3
C2710     3
C0        3
C3200     2
C1234     2
C1246     2
C1267     2
C1256     2
Name: CLASSIFICATION, dtype: int64

In [28]:
# FIX THIS!!!!
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  This should be calling all the 1's Other and everything over 100, Other....?!

# Replace in dataframe
for cls in classification_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`; this should be closer to 45/50ish columns
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [37]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop(["IS_SUCCESSFUL"],axis=1).values
y


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_test_scaled

array([[ 1.39430557e-02, -3.33676580e-02, -8.91865111e-02, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02,  2.86802949e-02, -8.91865111e-02, ...,
         1.43105555e+01,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -8.91865111e-02, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       ...,
       [ 1.39430557e-02, -3.34843874e-02, -8.91865111e-02, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -8.91865111e-02, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02],
       [ 1.39430557e-02, -3.34843874e-02, -8.91865111e-02, ...,
        -6.98784891e-02,  2.78942470e-02, -2.78942470e-02]])

## Compile, Train and Evaluate the Model

In [41]:
# SHOULD BE CLOSER TO 499 TOTAL PARAMS
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 8)                 872

 dense_2 (Dense)             (None, 5)                 45

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 923
Trainable params: 923
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6088 - accuracy: 0.7042
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5631 - accuracy: 0.7283
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5558 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5533 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5515 - accuracy: 0.7325
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5503 - accuracy: 0.7332
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5493 - accuracy: 0.7335
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5488 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5485 - accuracy: 0.7329
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7335
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7329
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5467 - accuracy: 0.7335
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5459 - accuracy: 0.7344
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5456 - accuracy: 0.7343
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5449 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7354
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7355
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7357
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5441 - accuracy: 0.7355
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5439 - accuracy: 0.7355
Epoch 23/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5431 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5433 - accuracy: 0.7347
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 28/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 30/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7349
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7356
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7356
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7367
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7370
Epoch 40/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 41/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5403 - accuracy: 0.7372
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7366
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7374
Epoch 44/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7369
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7370
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7369
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7369
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7376
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5397 - accuracy: 0.7371
Epoch 52/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5395 - accuracy: 0.7378
Epoch 53/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 54/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5396 - accuracy: 0.7363
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7364
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5392 - accuracy: 0.7373
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7372
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5389 - accuracy: 0.7375
Epoch 62/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 63/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 64/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7369
Epoch 65/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7373
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7377
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7375
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5382 - accuracy: 0.7368
Epoch 74/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7375
Epoch 75/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5381 - accuracy: 0.7377
Epoch 76/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 79/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 80/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 81/100

804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 82/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5381 - accuracy: 0.7377
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7375
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7374
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7377
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7377
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7373
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7382
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7381
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7382
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7376
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7376
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7381
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7379

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5590 - accuracy: 0.7259 - 625ms/epoch - 2ms/step
Loss: 0.5590384602546692, Accuracy: 0.7259474992752075

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE